
// project specific variables
$playfair: 'Playfair Display', serif;

$theme-color--primary: #df081a;
$theme-color--red: #d92523;

// Font Family
$font-family-name: 'sukhumvit', sans-serif;
$heading-font-family-name: 'Source Sans Pro', sans-serif;

// Colors ---------------

$white: #ffffff;
$black: #000000;
$glay:#f2f2f2;
$glay1:#d2d2d2;
$glay2:#4f4f4f;
$glay3:#808285;

$color-hertz : #ffcc00;
$color-thrifty: #005EB8;
$color-black : #000000;

// color col
$medium-gray:#58595B;


$color-k01 : #333333;


$html-font-size: 16px;

// Body Text
// $body-text-color: #666;
$body-text-color: #000;
$body-text-colorsub: #666;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-font-size: 1rem;
$body-bg-color: $white;

// Heading Text
$heading-text-color: #333333;
$heading-font-weight: 600;

//sm-title
$sm-title:#808285;


// Other Colors
$primary:       #004395;
$secondary:     #f9c322;
$success:       #01B41F;
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;



// Social Color
$android: #7AC157;
$apple: #B8B8B8;
$behance: #1869FF;
$codepen: $black;
$dribbble: #EA4C8A;
$dropbox: #007EE5;
$evernote: #78D525;
$facebook: #4867AA;
$github: #313131;
$google-drive: #1DA462;
$google-earth: #4285F4;
$google-glass: #EA4335;
$google-maps: #5083C3;
$google-play: #01B9FD;
$google-plus: #DD5144;
$google: #4285F4;
$instagram: #B23A94;
$css3: #0277BD;
$html5: #E44D26;
$javascript: #F9DC3D;
$python: #0C9DBF;
$lastfm: #E31B23;
$linkedin: #007BB6;
$paypal: #002F86;
$pinterest: #BD081B;
$pocket: #EF3E56;
$polymer: #F87292;
$rss: #F99C3A;
$share: #2C9CFF;
$stackoverflow: #F38024;
$steam: #15497B;
$twitter: #1DA1F2;
$vk: #5181B8;
$wikipedia: #E9E9E9;
$windows: #0078D6;
$s500px: $black;
$s8tracks: #122D4B;
$amazon: #F79B34;
$blogger: #F06A35;
$delicious: #0000FE;
$disqus: #2E9EFE;
$flattr: #7AB831;
$flickr: #FE0084;
$odnoklassniki: #F58220;
$outlook: #0072C6;
$playstation: #07418E;
$reddit: #FF4500;
$skype: #00A9F0;
$slideshare: #0077B5;
$soundcloud: #FE4900;
$tumblr: #36465D;
$twitch: #6441A4;
$vimeo: #1AB7EA;
$whatsapp: #189D0E;
$xbox: #107C0F;
$yahoo: #4101AF;
$youtube: #FE0000;



// Responsive Variables
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1499px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 575px)';
$extra-small-mobile: 'only screen and (max-width: 479px)';

// $screen-lg-max:'(max-width: 1499px)';
// $screen-md-max:'(max-width: 1199px)';
// $screen-mds-max:'(max-width: 1024px)';
// $screen-sm-max:'(max-width: 991px)';
// $screen-xs-max:'(max-width: 767px)';
// $screen-xss:'(max-width: 575px)';
// $screen-xs:'(max-width: 479px)';
// $screen-i:'(max-width: 375px)';

$screen-xxxs :'(min-width: 0px)';
$screen-xxs :'(min-width: 320px)';
$screen-xs :'(min-width: 568px)';
$screen-sm-min :'(min-width: 667px)';
$screen-md-min :'(min-width: 768px)';
$screen-lg-min :'(min-width: 992px)';
$screen-xl-min :'(min-width: 1200px)';
$screen-xxl-min :'(min-width: 1440px)';
$screen-xxxl-min :'(min-width: 1600px)';

@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/gothammedium-webfont.woff2') format('woff2'),
         url('../fonts/gothammedium-webfont.woff') format('woff'),
         url('../fonts/gothammedium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gothambook-webfont.woff2') format('woff2'),
         url('../fonts/gothambook-webfont.woff') format('woff'),
         url('../fonts/gothambook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambold';
    src: url('../fonts/gothambold-webfont.woff2') format('woff2'),
         url('../fonts/gothambold-webfont.woff') format('woff'),
         url('../fonts/gothambold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
