<template>
  <div>
    <b-navbar toggleable="md" type="dark" class="bg" style="border-bottom:3px #002fc6 solid;">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand href="#" @click="$router.push('/')">
        <img alt="Vue logo" src="/assets/logo.png" :class="scrolled>100?'st':'en'">
      </b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="#" @click="$router.push('/')">Home</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/design')">Design</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/location')">Location</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/plotmap')">Plotmap</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/payment')">Payment</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/gallery')">Gallery</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/forrent')">For Rent</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/service')">Service</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/info')">Info</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/contact')">Contact</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <!-- <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown text="English" right>
            <b-dropdown-item href="#">English</b-dropdown-item>
            <b-dropdown-item href="#">Dansk</b-dropdown-item>
        </b-nav-item-dropdown>-->
        <!-- <b-nav-item-dropdown right>
        <template slot="button-content">
          <em>User</em>
        </template>
        <b-dropdown-item href="#">Profile</b-dropdown-item>
        <b-dropdown-item href="#">Signout</b-dropdown-item>
        </b-nav-item-dropdown>-->
        <!-- </b-navbar-nav> -->
      </b-collapse>
    </b-navbar>

    <!-- navbar-1.vue -->
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
@keyframes st {
  0% {
    height: 80px;
  }
  100% {
    height: 40px;
  }
}
.st {
  animation: st 0.5s ease-in-out;
  height: 40px;
}
@keyframes en {
  0% {
    height: 40px;
  }
  100% {
    height: 80px;
  }
}
.en {
  animation: en 0.2s ease-in-out;
  height: 80px;
}
</style>
