<template>
<div>
  <div class="container">
   <SliderBanner/>
   <Article/>
  </div>
</div>
</template>

<script>

import SliderBanner from '~/components/home/SliderBanner';
import Article from '~/components/home/article/Article';

export default {
  metaInfo() {
    return { title: this.$t("home") };
  },
  components:{
    SliderBanner,
    Article
  }
};
</script>

<style></style>
