<template>
<<<<<<< HEAD
  <div>
    <b-navbar toggleable="md" type="light" class="bg" style="border-bottom:3px #002fc6 solid;">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
=======
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <router-link to="/" class="navbar-brand">
        {{ appName }}
      </router-link>
>>>>>>> main

      <b-navbar-brand href="#" @click="$router.push('/')">
        <img alt="Vue logo" src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.0-9/50313525_2230699930314492_1497126540259885056_n.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHO3aLxhiFCHtkiZwqwaBOMwTdZLR_el0DBN1ktH96XQND18lGKI6By-atDmtRsOJ8N5MYb16fvnAI62-wJf65Z&_nc_ohc=IkIWt5tt3xIAX8PaNHP&_nc_oc=AQkP7Zr0HNkS0X-5Arf58OSElOdDWsUbrH8wz4ObRTb53u1JZP43cy0voSpwfCfHEcc&_nc_ht=scontent.fbkk23-1.fna&oh=72d6923c3a5eed2f077458d2a9c6f6d8&oe=60156FAB" :class="scrolled>100?'st':'en'">
      </b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="#" @click="$router.push('/')">Home</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/design')">Design</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/location')">Location</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/plotmap')">Plotmap</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/payment')">Payment</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/gallery')">Gallery</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/forrent')">For Rent</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/service')">Service</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/info')">Info</b-nav-item>
          <b-nav-item href="#" @click="$router.push('/contact')">Contact</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <!-- <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown text="English" right>
            <b-dropdown-item href="#">English</b-dropdown-item>
            <b-dropdown-item href="#">Dansk</b-dropdown-item>
        </b-nav-item-dropdown>-->
        <!-- <b-nav-item-dropdown right>
        <template slot="button-content">
          <em>User</em>
        </template>
        <b-dropdown-item href="#">Profile</b-dropdown-item>
        <b-dropdown-item href="#">Signout</b-dropdown-item>
        </b-nav-item-dropdown>-->
        <!-- </b-navbar-nav> -->
      </b-collapse>
    </b-navbar>

    <!-- navbar-1.vue -->
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
@keyframes st {
  0% {
    height: 80px;
  }
  100% {
    height: 40px;
  }
}
.st {
  animation: st 0.5s ease-in-out;
  height: 40px;
}
@keyframes en {
  0% {
    height: 40px;
  }
  100% {
    height: 80px;
  }
}
.en {
  animation: en 0.2s ease-in-out;
  height: 80px;
}
</style>
