<template>
  <div>
    <carousel  :perPage="1">
  <slide>
    Slide 1 Content
  </slide>
  <slide>
    Slide 2 Content
  </slide>
</carousel>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
