<template>
<div>
  <h1>Article</h1>
<div class="row">
  <div class="col-md-4">
    <HomeCard></HomeCard>
  </div>

    <div class="col-md-4">
    <HomeCard></HomeCard>
  </div>

    <div class="col-md-4">
    <HomeCard></HomeCard>
  </div>

    <div class="col-md-4">
    <HomeCard></HomeCard>
  </div>

    <div class="col-md-4">
    <HomeCard></HomeCard>
  </div>

    <div class="col-md-4">
    <HomeCard></HomeCard>
  </div>
</div>
</div>
</template>

<script>
import HomeCard from './Card'
export default {
  components:{
    HomeCard
  }
}
</script>

<style>

</style>
