<template>
  <div class="main-layout">
    <div class="mh-800">
      <!-- <navbar  />
      <div class="container">
        <child />
      </div> -->
       <div >
        <navbar/>
        <child  class="mt-4"/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "~/components/Navbar";

export default {
  name: "MainLayout",

  components: {
    Navbar
  },
}
</script>
